@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="alert-info"> Permission Denied </h2>
<p> You do not have rights to this page </p>
